.App {
  text-align: center;
}
body {
  background-color: antiquewhite;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-1-dark.png");
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.picture-box {
  float: left;
  margin: 10px;
  width: 300px;
  height: 350px;
  z-index: -1;
  border: 3px solid black;
}

/* .submit-form {

} */

img {
  width: 150px;
  height: 200px;
  margin: 10px;
  border: 3px solid black;
}

button {
  padding: 2px;
}